.git
.github
.husky
.env
.env.*
!.env.docker.example

node_modules
**/node_modules
dist-main
dist-renderer
dist-web
release
apps/api/dist
packages/protocol/dist
apps/tetris/server/data

*.log
*.tsbuildinfo
.DS_Store

